<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cats VS Dogs Classification</title>
</head>
<body>
    <h1>Cats VS Dogs Classification</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <div id="result"></div>
    <div id="uploaded-image"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $('#result').text('Result: ' + data.result);
                    $('#uploaded-image').html('<img src="'+ data.image_url +'" alt="Uploaded Image" style="max-width: 300px;">');
                },
                cache: false,
                contentType: false,
                processData: false
            });
            return false;
        });
    </script>
</body>
</html>
